[Unit]
Description=Pidorometr3000 Telegram bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/pidorometr3000
EnvironmentFile=/opt/pidorometr3000/.env
ExecStart=/opt/pidorometr3000/pidorometr3000
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
